<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.service_mikke.mikke">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Mikke!"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1856609137889644"/>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1eeeec3ff151a340b2a85306c0057dffc06a5f3" />

        <meta-data
            android:name="jp.line.sdk.ChannelId"
            android:value="1510819498">
        </meta-data>

        <meta-data
            android:name="jp.line.sdk.AuthScheme"
            android:value="line.1510819498">
        </meta-data>


        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.GenresActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="">
        </activity>

        <activity
            android:name=".activities.UsedServicesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="">
        </activity>

        <activity
            android:name=".activities.FullServicesActivity">
        </activity>

        <activity
            android:name=".activities.WebViewActivity">
        </activity>

        <activity
            android:name=".activities.MessageDetailActivity">
        </activity>

        <activity
            android:name=".activities.UserSettingActivity"
            android:label="プロフィール設定">
        </activity>

        <activity
            android:name=".activities.LogInActivity"
            android:label="ログイン">
        </activity>

        <activity
            android:name="jp.line.android.sdk.activity.LineAuthCompleteActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="line.1510819498"/>
            </intent-filter>
        </activity>
        <activity
            android:name="jp.line.android.sdk.activity.WebLoginActivity"
            android:configChanges="keyboard|orientation"
            android:exported="false"
            android:screenOrientation="sensor" >
        </activity>


        <activity
            android:name=".activities.SignUpActivity"
            android:label="Sign Up">
        </activity>



    </application>

</manifest>